* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fdfffc;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #2ec4b6;
    color: #fdfffc;
    display: flex;
    align-items: center;
}

#app {
    width: 100vw;
    height: 100vh;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul li {
    border-bottom: 1px solid #fdfffc;
    list-style: none;
    padding: 13px 5px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

ul li:last-child {
    margin-bottom: 10vh;
}

a {
    float: right;
    padding-right: 5px;
}

input {
    width: 80%;
    height: 10vh;
    padding: 0 2%;
    margin: 0;
    float: left;
    background-color: #fff;
    font-size: 14pt;
}

button {
    float: right;
    width: 16%;
    height: 10vh;
    background-color: #2ec4b6;
    margin: 0;
    font-size: 14pt;
    float: left;
}

img { 
    width: 20px;
    margin: 0 5px;
    
}

h1 {
    float: left;
    width: 90%;
}

.pointsTodo {
    float: right;
    width: 10%;
    background-color: #011627;
    color: #ff9f1c;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

p {
    width: 100%;
    text-align: center;
}

.bottom {
    position: fixed;
    bottom: 0;    
    width: 100%;
}